* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    font-family: 14px;
    line-height: 24px;
    font-family: ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: ;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}
/* lucid css start Here */
/* Header Css start */
.header{
    width: 100%;
    background:url("../images/banner.png") center top no-repeat;
    background-size:cover;
}
.main-menu{
    width: 100%;
}
.main-menu .bg-light{
    width: 100%;
    background: transparent !important;
}
.main-menu .navbar-light .navbar-nav .nav-link.active {
    background: url("../images/arrow.png") center bottom no-repeat;
    background-size: auto;
}
.main-menu .navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: capitalize;
    margin: 0px 0px 0px 20px;
    font-size: 14px;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover,.main-menu .navbar-light .navbar-nav .nav-link:focus {
    background: url("../images/arrow.png") center bottom no-repeat;
    background-size: auto;
}
.banner{
    width: 100%;
    padding: 120px 0px;
}
.banner h5{
    font-size: 16px;
    line-height: 28px;
    color: #0D6EFD;
    font-weight: 600;
}
.banner h1 {
    font-size: 45px;
    line-height: 55px;
    color: #fff;
    font-weight: 400;
    margin: 20px 0px;
}
.banner p{
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        margin: 0px 0px 47px 0px ;
}
.banner .button-group .btn-primary {
    padding: 14px 25px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    background-color: #0D6EFD;
    transition: 2s;
}
.banner .button-group .btn-primary:hover{
    background-color: transparent;
    border: 1px solid #0D6EFD;
}
.banner .button-group .btn-Light{
    padding: 14px 25px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin: 0px 0px 0px 10px;
    transition: 2s;
}
.banner .button-group .btn-Light:hover{
    background-color:#0D6EFD;
}
/* Header Css end */
/* features css start */
    .features .title {
        width: 100%;
        margin: 80px 0px 26px 0px;
        text-align: center;
    }
    .inner-features {
        width: 100%;
        text-align: center;
        padding: 8px 11px;
        border-bottom: 1px solid #eee;
    }

    .inner-features .icons {
        font-size: 50px;
        line-height: 160px;
        background: #fff;
        color: #008ed6;
        margin: 0px auto 20px;
        display: block;
        border: 1px solid #eee;
        border-radius: 100%;
        transition: 1s ease-in;
        cursor: pointer;
        width: 170px;
        height: 170px;
        margin: 0px auto;
        transition: 1s;
    }
    .inner-features .icons:hover, .inner-features .icons:focus{
        background: #008ed6;
        color: #fff;
}
    .inner-features h4{
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        margin: 0px 0px 20px 0px;
    }
    .inner-features p{
        font-size: 16px;
        line-height: 26px;
        color: #b4b4b4;
        font-weight: 600;
        margin: 0px 0px 47px 0px ;
    }

/* features css end */
/* about-logg css start */
    .about-long{
        width: 100%;
        padding: 60px 0px;
        margin: 30px 0px 0px 0px;
    }
    .about-long .title{
        width: 100%;
        margin: 60px 0px 0px 0px;
    }
    .about-long p {
        margin: 24px 0px;
        width: 83%;
    }
    .about-long ul {
        width: 100%;
        color: black;
        display: block;
    }
    .about-long ul li{
        list-style: none;
        font-size: 16px;
        line-height: 26px;
        color: black;
        font-weight: 600;
        display: block;
    }
    .about-long ul li i{
        margin: 15px 12px;
        color: #0D6EFD;

    }
/* about-logg css end */
/* about-short css start */
    .about-short{
        width: 100%;
        padding: 80px 0px;
        background-color: #F2F2F2;
    }
    .about-short .title{
        margin: 80px 0px 0px 0px;
        }
    .about-short .title h1{
    font-size: 41px;
    margin: 15px 0px;
    }
    .about-short p{
        width: 90%;
        margin:20px 0px 0px 0px;
        }

/* about-short css end */
/* Testimonials css start */
    .Testimonials{
        width: 100%;
        padding: 80px 0px;
        background: url("../images/testi.png");
    }
    .Testimonials .title{
        width: 100%;
        text-align: center;
    }
    .Testimonials .title h1{
        color: #fff;
    }
/* Testimonials css end */

/* eye-cature css start here */
    .eye-cature{
        width: 100%;
        padding: 50px 0px;
        background-color: #010005;
    }
    .eye-cature h2{
        width: 100%;
        color: #fff;
        font-size: 32px;
        line-height: 42px;
        font-weight: 600;
    }
    .eye-cature h2 span{
        color: #b4b4b4;
        font-weight:200;
    }
    .eye-cature .button-group{
        width: 100%;
        margin:0px;
    }
    .eye-cature .btn-Light{
    padding: 14px 25px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin: 0px 0px 0px 0px;
    transition: 2s;
    }
    .eye-cature .btn-Light:hover, .eye-cature .btn-Light:focus{
        background-color: #0D6EFD;
        }
    .eye-cature .btn-primary{
        padding: 14px 25px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        background-color: #0D6EFD;
        margin: 0px 0px 0px 10px;
        transition: 2s;

    }
    .eye-cature .btn-primary:hover, .eye-cature .btn-primary:focus{
        background: transparent;
        border: 1px solid #0D6EFD;
    }

/* eye-cature css end here */
/* price css start here */
    .price-plan{
        width: 100%;
        padding: 60px 0px;
    }
    .price-plan .title {
        text-align: center;
        padding: 0px 0px 40px 0px;
    }
    .price-plan .price{
        width: 100%;
        border: 1px solid #b4b4b4;
        text-align: center;
    }
    .price-plan .price-head h4 {
        width: 100%;
        padding: 10px 0px;
        text-transform: uppercase;
        border-bottom: 1px solid #b4b4b4;
        font-weight: 650;
        /* letter-spacing: 2px; */
        margin: 0px;
        transition: 1s;
        font-size: 18px;
        line-height: 28px;
    }
    .price-plan .price:hover .price-head h4{
        color: #0D6EFD;
    }
    .price-plan .inner-price{
        width: 100%;
        padding: 30px 0px;
        border-bottom:1px solid #b4b4b4;
        transition: 1s;
    }
    .price-plan .price:hover .inner-price{
        color: #F2F2F2;
        background-color: #0D6EFD;
    }
    .price-plan .inner-price h1{
        font-size: 35px;
        line-height: 45px;

    } 
    .price-plan .inner-price sup{
        font-size: 25px;
        font-weight: 500;

    } 
    .price-plan .inner-price p{
        color: #b4b4b4;
        font-weight:;
        margin-top: -10px;
        transition: 1s;
    } 
    .price-plan .price:hover .inner-price p{
        color: #F2F2F2;
        transition: 1s;
    }
    .price-plan .price-content  {
        color: #b4b4b4;
        padding: 35px 0px;
    }
    .price-plan .price-content p {
        color: #b4b4b4;
        padding: 0px 33px 20px 33px;
    }

    .price-plan .btn-primary {
        padding: 14px 25px;
        background-color: transparent;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #0D6EFD;
        border-color: #b4b4b4;
        transition: 1s;
    }
    .price-plan .price:hover .price-content .btn-primary{
        color: #fff;
        background-color: #0D6EFD;
    }
/* price css end here */
/* contact css start here */
    .contact{
        width: 100%;
        padding: 60px 0px ;
        background-color: #ededed;
    }
    .contact .title{
        text-align: center;
    }
    .contact .inner-box{
        width: 100%;
        text-align: center;
        padding: 60px 80px;
    }
    .contact i{
        width: 100%;
        color: #0D6EFD;
        font-size: 40px;
        margin: 0px 0px 30px 0px;
    }
    .main-form{
        width: 100;
        background-color: #15141a;
        padding: 60px ;
    }
    .main-form .form-control{
        font-size: 16px;
        padding: 10px;
        border:1px solid #999;
        color: #999;
        background:transparent;

    }
    .main-form textarea{
        color:#999 ;
    }
    ::placeholder{
        color: #fff;
    }
    .main-form .btn-primary{
        padding: 14px 25px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        background-color: #0D6EFD;
        margin: 0px 0px 0px 10px;
        
    }
    .main-form .text-right{
        text-align: right;
    }
    

    /* contact css end here */









    /* global css for title start */
    .title {
        width: 100%;
        padding: ;
    }
    .title h1 {
        font-size: 42px;
        line-height: 52px;
        font-weight: 600;
        margin: 15px 0px;
    }
    .title h5{
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: #0D6EFD;
        text-transform: uppercase;
    }
    p{
        font-size: 16px;
        line-height: 26px;
        color: #b4b4b4;
        font-weight: 600;
    }
    
/* global css for title end */
/* lucid css end Here */